* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

.nav__container {
    width: 100%;
    height: 250px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo__link {
    max-width: 180px;
    min-width: 60px;
    width: 20%;
    margin: 0px 1em;
}

.logo__img {
    width: 100%;
}

.nav__button--open {
    color: rgba(255, 136, 0, 0.9);
    margin: 0px 20px;
    background-color: black;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
}

.nav__button--open:hover {
    background-color: rgb(58, 58, 58);
}

.overlay {
    height: 100%;
    width: 0%;
    background-color: rgba(0, 0, 0);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.nav__button {
    color: rgba(255, 136, 0, 0.9);
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    position: absolute;
    top: 5%;
    right: 5%;
}

.overlay-content {
    display: block;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.nav__link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 1em 0px;
    padding: 1em;
    transition: 0.3s;
}

.nav__link:hover {
    color: rgba(255, 136, 0, 0.9);
}