* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

header {
    background-image: linear-gradient(#0F2027, #203A43, #2C5364);
}

.nav__container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    width: 140px;
    margin-left: 4em;
}

.logo__img {
    width: 100%;
}

.nav__tittle {
    color: white;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}


.nav__button--open {
    margin-right: 2em;
}

.nav__button--open:hover {
    filter: drop-shadow( 0 0 5px #F24E1E);
}

.overlay {
    height: 100%;
    width: 0%;
    background-color: rgba(0, 0, 0);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.nav__button {
    position: absolute;
    top: 45px;
    right: 30px;
}

.overlay-content {
    display: block;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.nav__link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 1em 0px;
    padding: 1em;
    transition: 0.3s;
}

.nav__link:hover {
    color: #F24E1E;
}

@media screen and (max-width: 768px) {
    .logo__link {
        margin-left: 1em;
        width: 100px;
    }

    .nav__button--open svg {
        width: 50px;
        height: 50px;
    }

    .nav__tittle {
        display: none;
    }

    .nav__button {
        width: 50px;
        height: 50px;
        top: 45px;
        right: 30px;
    }
}